<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>
</head>
<body>
    <nav>
        <a href="{{url_for('index')}}">Inicio</a>
        <a href="{{ url_for('contato')}}">Contato</a>
    </nav>

    <h1>Pagina do Microblog</h1>
    <p>App de pagina de blog em Flask criado por {{nome}}</p>
    <p>
        Framework: {{dados.framework}}<br/>
        Linguagem: {{dados.linguagem}}
    </p>
</body>
</html>